body {
  margin: 0;
  background-color: #eee;
}

.SearchBar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 8vh;
  background-color: #333;
  display: flex;
  justify-content: space-between;
}

.SearchBar > * {
  margin: 2vh 0;
  padding: 5px 10px;
  border: none;
  background-color: #fff;
}

.SearchBar > *:focus {
  outline: none;
}

.SearchBar-textInput {
  margin-left: 3vh;
  flex-grow: 1;
  border-right: 1px solid #999;
  border-radius: 5px 0 0 5px;
}

.SearchBar-submitButton {
  margin-right: 3vh;
  width: 15vh;
  border-radius: 0 5px 5px 0;
}

.SearchBar-submitButton:active {
  background-color: #999;
}

.typoNotification {
  margin-top: 8vh;
}

.Gallery {
  margin-top: 8vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.Thumbnail {
  min-width: 170px;
  margin: 1vh 0;
}

.Thumbnail > img {
  display: block;
  margin: auto;
}

.ImageModal-backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ImageModal-img {
  height: auto;
  width: auto;
  max-width: 100vw;
  max-height: 100vh;
}
